{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": "62"
                }
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-runtime"
    ]
}
